@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC";
}

img {
    max-width: 100%;
}

header img {
    display: inline;
    width: 100px;
    margin: 0 auto;
}

header {
    font-family: "PT Sans Narrow", serif;
    font-size: 3.4em;
    padding: 0px 30px;
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0 auto;
}

#searchForm {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: solid gray;
    font-family: Arial, Helvetica,sans-serif;
}

button {
    margin: 0;
}

#searchForm input {
    width: 80%;
    margin-right: 0;
    padding: 0;
    height: 30px;
    font-size: 1.3em;
}

#searchForm img {
    height: 20px;
    margin-left: 0;
    padding: 0;
}

section {
    text-align: left;
    border: solid black;
    border-radius: 10px;
    margin: 5%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#recipeInfo {
    display: flex;
    flex-direction: column;
}

.recipeTag {
    font-size: 1.3em;
    border: solid black;
    width: 70px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.recipeName {
    font-family: "PT Sans Narrow", serif;
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 0px;
}

.rating {
    font-size: 1.3em;
    margin-bottom: 30px;
}

#description {
    display: none;
    font-family: Arial, Helvetica,sans-serif;
}

footer {
    text-align: center;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer a {
    font-size: 0.6em;
}

footer img {
    width: 40px;
}

@media screen and (min-width: 600px) {

    section {
        flex-direction: row;
    }

    #recipeInfo {
        margin-left: 20px;
    }

    img {
        max-width: 500px;
    }

    #description {
        display: contents;
    }

    .social {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 20px;
    }
    
    .social a {
        justify-self: left;
    }

    .social img {
        justify-self: flex-end;
    }

}

@media screen and (max-width: 960px)
{
    * {
        max-width: 960px;
    }
}