@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC";
}

* {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

header img {
    display: inline;
    width: 100px;
}

header {
    font-family: "PT Sans Narrow", serif;
    font-size: 3.5em;
    padding: 30px;
}

#searchForm {
    text-align: center;
    padding: 0;
}

button {
    margin: 0;
}

#searchForm input {
    width: 80%;
    margin-right: 0;
    padding: 0;
    height: 30px;
    font-size: 1.3em;
}

#searchForm img {
    height: 20px;
    margin-left: 0;
    padding: 0;
}

section {
    text-align: left;
    border: solid black;
    margin: 20px;
    padding: 20px;
}

.recipeTag {
    font-size: 1.5em;
    border: solid black;
    width: 70px;
    padding: 5px 10px;
}

.recipeName {
    font-family: "PT Sans Narrow", serif;
    color: var(--primary-color);
    font-size: 2em;
}

.rating {
    font-size: 1.3em;
}

footer {
    text-align: center;
    margin: 20px;
    padding: 100px;
}

footer a {
    font-size: 0.6em;
}

footer img {
    width: 40px;
}