@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --primary-color: #2F3C7E;
--secondary-color: #D4D4DF;
--accent1-color: #363637;
--accent2-color: white; */

* {
    margin: 0 auto;
}

p {
    font-family: "Exo", serif;
}

header {
    background-color: #D4D4DF;
    text-align: center;
    font-family: "Exo", serif;
    margin: 0 auto;
    width: 100%;
}

header > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

header > img {
    width: 200px;
}

header li {
    padding: 5px;
    color: #2F3C7E;
    background-color: #D4D4DF;
}

header a {
    color: #2F3C7E;
}

header a:hover {
    background-color: #2F3C7E;
    color: #D4D4DF;
}

main {
    display: grid;
    grid-template-columns: 1fr 93%;
}

h1 {
    padding: 20px;
    
}

.exerciseEntry {
    grid-column: 2;
    background-color: #D4D4DF;
    padding: 30px;
    width: 70%;
    margin-bottom: 20px;
}

.exerciseEntry h2 {
    margin-bottom: 20px;
}

#exercise-info {
    padding: 20px;
    background-color: #363637;
    width: 100%;
    color: #D4D4DF;
}

#exercise-info img {
    max-width: 100%;
}

#exercise-info p {
    grid-column: 2;
    padding: 0px 20px 40px 0px;
}

#sideBarButton {
    grid-column: 1;
    grid-row: 1 / -1;
    font-family: "Poppins", serif;
    width: 100%;
    height: 100%;
}

#sideBarButton:hover {
    background: #D4D4DF;
}

.hide {
    display: none;
}

@media screen and (min-width: 500px) {
    .hide {
        display: contents;
    }

    #sideBarButton {
        display: none;
    }

    #exercise-info {
        grid-column: 1/2;
        width: 100%;
        display: inline;
        background-color: #363637;
        padding: 30px;
        height: 100%;
        justify-self: center;
    }

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
    }

    .entries {
        grid-column: 2/3;
        width: 70%;
    }

    h1 {
        grid-row: 1;
        margin: 10px 0 0 100px;
        justify-self: center;
        text-align: center;
    }

    .exerciseEntry {
        width: 80%;
        height: 150px;
        margin: 5% 10%;
        justify-self: center;
        padding: 20px;
    }
}